@media (max-width: 768px) {
  .banner {
    flex-direction: column-reverse;
    align-items: center; 
    text-align: center;
    overflow-x: hidden; 
  }

  .banner-image {
    margin-top: 0px;
    width: 100%;
    max-width: 90vw;
    margin-right: 0;
  }

  .content {
    font-size: 60px;
    padding: 0 16px;
    margin: 0px;
    width: 100vw;
  }

  .login-cta {
    display: block; 
  }

  .lp-cta {
    justify-content: center;
    margin-right: 70px;
  }
}
