@media (max-width: 768px) {
  .navbar {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem; 
    overflow-x: hidden;
  }




  .navlinks:hover {
    color: rgb(109, 194, 254);
  }

  .cta {
    display: none;
  }

  .contact{
    margin-right: 0px;
  }
}
